.idea/

nvim/plugged/
nvim/autoload/

*.log
tomorrow.png
wallpaper.png

autostart/
blender/
BraveSoftware/
cef_user_data/
clinote/
coc/
configstore/
CS-Script/
ctags/
dconf/
discord/
dunst/
fontconfig/
fontforge/
gconf/
getkeys/
GIMP/
git/
google-chrome/
gotty/
gtk-2.0/
gtk-3.0/
guvcview2/
libreoffice/
lyrics/
mapeditor.org/
matplotlib/
menus/
mpd/
mpv/
nordvpn/
oh-my-zsh/
omf/
pagraphcontrol/
picom/
Postman/
procps/
pulse/
qalculate/
razercommander/
Skype/
skypeforlinux/
Slack/
spotify/
spotify-tui/
sqlitebrowser/
sxhkd/
sxiv/
systemd/
task/
teamviewer/
themes/
tiled/
transmission-daemon/
unity3d/
UnityHub/
wireshark/
X11/
bmdirs/
bmfiles/
compton.conf/
emoji/
error.log/
fontawesome/
hub/
karboncalligraphyrc/
kritadisplayrc/
kritarc/
make_links.sh/
mimeapps.list/
oktetarc/
output.log/
pavucontrol.ini/
python_modules.freeze/
QtProject.conf/
user-dirs.dirs/
Xmodmap/
*/muttrc
