[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/x41/xorg.conf.new]
row=5
col=0

[/home/x41/tmp]
row=4
col=0

[79644521-4758-48e8-8621-efed3d1c2aad]
row=0
col=0

[0AE6-16F6]
row=1
col=0

[/]
row=2
col=0

[/home/x41]
row=3
col=0

